<body>
    <nav class="breadcrumb is-centered has-bullet-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hot">Hot Releases</a></li>
            <li><a href="/info">Informations</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <style>
        .breadcrumb {
            padding-top: 20px !important;
            margin-bottom: 30px !important;
        }

        .breadcrumb a {
            font-family: 'Ubuntu', sans-serif;
            font-size: 20px !important;
            color: red !important;
        }
    </style>

</body>